<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderLayout>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.RenderLayout.EvaluateTestExposure, Sitecore.Support.208790" patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.RenderLayout.EvaluateTestExposure, Sitecore.ContentTesting']" />
        <processor type="Sitecore.Support.ContentTesting.Pipelines.RenderLayout.PageLevelTestItemResolver, Sitecore.Support.208790" patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.RenderLayout.PageLevelTestItemResolver, Sitecore.ContentTesting']" />
        <processor type="Sitecore.Support.ContentTesting.Pipelines.RenderLayout.ContentTestDataSourceResolver, Sitecore.Support.208790" patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.RenderLayout.ContentTestDataSourceResolver, Sitecore.ContentTesting']" />
      </renderLayout>
    </pipelines>
  </sitecore>
</configuration>